<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand">
            <span class="brand-title" ng-if="vm.user">WELCOME
                <span ng-bind="vm.user_data.name"></span>
            </span>

            <span class="brand-title" ng-if="!vm.user">
                LOGIN
            </span>
        </a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" ng-click="vm.in = !vm.in">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse" ng-class="{'in' : vm.in}">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown dropdown-big" ng-if="vm.user">
                    <a href="logout">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>