.sidebar-widget form {
    margin: 0em -1em;
}

.sidebar .navi > li > a {
    background-color: #333 !important;
}

.sidebar .navi li ul li a {
    color: #fff;
}

    .sidebar .navi li ul li a:hover {
        color: #52b9e9;
    }

    .sidebar .navi li ul li a:disabled {
        color: #999;
    }

.navbar-inverse .btn-navbar {
    background-color: #333;
}

    .navbar-inverse .btn-navbar:hover {
        background-color: #333;
    }

.sidebar {
    margin-top: -2px;
}

    .sidebar .sidebar-inner {
        background-color: #333;
    }

.sidebar-filler {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #333;
    width: 230px;
}

@media (max-width: 979px) {
    .sidebar-filler {
        width: 200px;
    }

    .nav-collapse {
        clear: none;
    }

        .nav-collapse .nav > li {
            float: left;
        }

    .navbar .btn-navbar {
        display: none;
    }

    .nav-collapse,
    .nav-collapse.collapse {
        height: inherit;
        overflow: inherit;
    }

    .page-splash-message {
        font-size: 300%;
    }

    .btn-group.pull-right {
        float: none !important;
        display: block;
    }
}

@media (min-width: 768px) {
    .sidebar .sidebar-inner {
        display: block !important;
    }
}

@media (max-width: 767px) {
    .sidebar-filler {
        display: none;
    }

    .nav-collapse {
        clear: both;
    }

        .nav-collapse .nav > li {
            float: none;
        }

    .navbar .btn-navbar {
        display: block;
    }

    .nav-collapse,
    .nav-collapse.collapse {
        height: 0;
        overflow: hidden;
    }

    .page-splash-message {
        font-size: 200%;
        margin: 40% auto 0 auto;
    }

        .page-splash-message.page-splash-message-subtle {
            font-size: 150%;
        }

    .sidebar .sidebar-inner {
        height: inherit;
    }
}