<div class="login-form">
    <form ng-submit="vm.submit_login()" cg-busy="vm.login_loading">
        <div></div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username" ng-model="vm.data.username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.data.password">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model ="vm.data.stay"> Remember Me
            </label>
        </div>
        <button type="submit" class="btn btn-default" ng-click="submit_login()">Submit</button>
    </form>
</div>